/* --------------------- */
/* 기본 셋업 */
html{
    font-family: 'Pretendard', sans-serif;
    font-size: var(--basic-font-pc);
}
p{
    line-height: 140%;
}
.fwb{
    font-weight: var(--fw-bold);
}
.common-frame{
    width: auto;
    margin: 0 3rem;
}
.fade-show{
    filter: blur(50px);
    opacity: 0;
    transition: all 1s ease 0s;
}
.fade-show.active{
    filter: blur(0);
    opacity: 1;
}
.fade-left {
  opacity: 0;
  transform: translateX(-50px);
  transition: all .6s ease 0.2s;
}
.fade-left.active {
  opacity: 1;
  transform: translateX(0);
}
.fade-left.active {
  opacity: 1;
  transform: translateX(0);
}
.fade-right {
  opacity: 0;
  transform: translateX(50px);
  transition: all .6s ease 0.2s;
}
.fade-right.active {
  opacity: 1;
  transform: translateX(0);
}
.fade-up{
  opacity: 0;
  transform: translateY(-50px);
  transition: all 1s ease 0.2s;
}
.fade-up.active{
  opacity: 1;
  transform: translateY(0);
}





/* --------------------- */
/* 전체 콘텐츠 영역 스타일 */
.hero{
    height: 100vh;
    min-height: 700px;
    background: 
    /* linear-gradient(rgba(0, 0, 0, 0.3) 10%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.3) 90%), */
    url(../img/bg-hero3.png) no-repeat 50% 0% / cover;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hero-txt1{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}
.hero-txt1-left span{
    font-weight: var(--fw-bold);
    margin-right: 1rem;
}
.hero-title{
    font-size: calc(100vw/9);
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    /* line-height: 120%; */
    padding-bottom: 1rem;
}
.profile{
    margin-top: 6rem;
}
.pro-title {
    display: flex;
    gap: 1rem;
    margin-bottom: 3rem;
    background-color: #fff;
    border-bottom: 1px solid #000;
    padding-bottom: 1rem;
}
.pro-title>section{
    flex: 1;
}
.pro-title h2{
    font-size: 5em;
    font-weight: var(--fw-bold);
}
.pro-title h3{
    font-size: 1.2rem;
    font-weight: var(--fw-bold);
    margin-bottom: 3rem;
}
.pro-title h3+p{
    margin-bottom: 1rem;
}
.profile1{
    display: flex;
    gap: 172px;
    align-items: flex-start;
}
.sticky-figure{
    width: 435px;
    position: sticky;
    left: 0;
    top: 3rem;
}
.sticky-figure figcaption{
    display: flex;
    justify-content: space-between;
    margin-top: .5rem;
}
.pro-desc{
    flex: 1;
    padding-top: 6rem;
}
.pro-desc-grid{
    display: grid;
    gap: 3rem 1rem;
    grid-template-columns: repeat(2,1fr);
}
.certi{
    grid-column: 1/3;
}
.co h4{
    font-size: 1.2rem;
    font-weight: var(--fw-bold);
    margin-bottom: 1rem;
}
.co h4+p{
    margin-bottom: 2rem;
}
.co ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.co ul li{
    border-radius: .5rem;
    background-color: #EDF1F6;
    padding: 1rem;
}
.co ul li h5{
    font-weight: var(--fw-bold);
    margin-bottom: .5rem;
}
.certi dl{
    display: grid;
    grid-template-columns: 2fr 3fr 3fr;
    gap: .5rem 1rem;
}
.expert{
    margin-top: 6rem;
}
.exp-title {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 3rem;
}
.exp-title h2{
    flex: 1;
    font-weight: var(--fw-bold);
    font-size: 5rem;
}
.exp-title p{
    flex: 1;
}
.skill-grid{
    display: grid;
    grid-template-columns: repeat(3,minmax(20px,1fr));
    gap: 2rem 1rem;
}
.skill-grid li h4{
    font-weight: var(--fw-bold);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #000;
    text-transform: capitalize;
}
.skill-grid .icon img{
    height: 1.2rem;
}
.icon{
    margin-bottom: .5rem;
}
.popup {
    margin-top: 6rem;
    padding-top: 6rem;
    background:
        url(../img/pattern-check.png) repeat 0 0,
        url(../img/bg-popup.jpg) no-repeat 0 calc(100% - 205px) / 100% 540px;
    padding-bottom: 6rem;
    border-bottom: 1px solid var(--point-color);
}
.popup h2{
    font-size: 5rem;
    font-weight: var(--fw-bold);
    margin-bottom: .5rem;
    text-align: center;
}
.popup h2+p{
    text-align: center;
    font-weight: var(--fw-med);
    font-size: 3rem;
    margin-bottom: 2rem;
}
.popup h2+p+p {
    text-align: center;
    margin-bottom: 8rem;
}
.popup-contents{
    display: flex;
    gap: 177px;
}
.popup-text{
    width: 430px;
    color: #fff;
    pointer-events: none;
}
.popup-station{
    width: calc(100% - 430px - 177px);
}
.popup-text h3{
    font-size: 1.5rem;
    font-weight: var(--fw-bold);
}
.popup-text p{
    margin-top: 1rem;
}
.popup-img-slider img {
    box-shadow: 2px 3px 10px 1px rgba(0, 0, 0, 0.2);
}
.popup-img-slider .swiper-wrapper{
    transition-timing-function: linear;
}
.popup-txt-slider .swiper-slide{
    background-color: var(--point-color);
}
.poster{
    padding-top: 6rem;
}
.poster .common-frame{
    display: flex;
    align-items: flex-start;
    gap: 172px;
}
.poster-title{
    width: 734px;
    position: sticky;
    top: 6rem;
    left: 0;
}
.poster-title h2{
    font-size: 5rem;
    font-weight: var(--fw-bold);
    margin-bottom: 1rem;
}
.poster-title h2+p{
    font-size: 3rem;
    margin-bottom: 3rem;
}
.poster-list{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 6rem;
}
.poster-list>li{
    display: flex;
    gap: 107px;
}
.poster-list>li:nth-of-type(2n){
    flex-direction: row-reverse;
}
.poster-list>li figure{
    width: 500px;
    flex-shrink: 0;
}
.poster-txt{
    flex: 1;
    padding-top: 6rem;
}
.poster-txt h3{
    font-weight: var(--fw-bold);
    margin-bottom: 4rem;
}
.poster-txt p{
    margin-bottom: 1rem;
}
.banner{
    padding: 6rem 0;
    background-color: var(--point-color);
    color: #fff;
    text-align: center;
    margin-top: 6rem;
}
.banner h2{
    font-size: 5rem;
    font-weight: var(--fw-bold);
    margin-bottom: 1rem;
}
.banner h2+p{
    font-size: 3rem;
    margin-bottom: 3rem;
}
.banner h2+p+p{
    margin-bottom: 3rem;
}




/* --------------- */
/* 반응형 대응 코드 */
@media (max-width: 1800px){
    .popup {
        background:
            url(../img/pattern-check.png) repeat 0 0,
            url(../img/bg-popup.jpg) no-repeat 0 calc(100% - 205px) / 100% 480px;
    }
    .poster-title {
        width: 600px;
    }
}


@media (max-width: 1700px){
    .popup {
        background:
            url(../img/pattern-check.png) repeat 0 0,
            url(../img/bg-popup.jpg) no-repeat 0 calc(100% - 205px) / 100% 460px;
    }
    .poster .common-frame{
        gap: 3rem;
    }
    .poster-title {
        width: initial;
        flex: 1;
    } 
    .posterlist>li{
        gap: 1rem;
    }
    .poster-list>li figure{
        width: initial;
        flex-shrink: initial;
        flex: 4;
    }
    .poster-txt{
        flex: 3;
    }
}



@media (max-width: 1650px){
    .popup {
        background:
            url(../img/pattern-check.png) repeat 0 0,
            url(../img/bg-popup.jpg) no-repeat 0 calc(100%) / 100% 630px;
    }
}



@media (max-width: 1600px){
    .exp-title {
        flex-direction: column;
        align-items: flex-start;
    }
    .skill-grid{
        grid-template-columns: repeat(2,minmax(20px,1fr));
    }
    .popup-contents{
        gap: 1rem;
    }
    .popup-text{
        width: calc((100% - 1rem)/2);
        color: #fff;
    }
    .popup-station{
        width: calc((100% - 1rem)/2);
    }
    .popup {
        background:
            url(../img/pattern-check.png) repeat 0 0,
            url(../img/bg-popup.jpg) no-repeat 0 calc(100%) / 100% 536px;
    }
}


@media (max-width: 1500px){
    .poster-txt {
        padding-top: 0;
    }
}


@media (max-width: 1440px){
    .profile1{
        gap: 1rem;
    }
    .sticky-figure{
        width: 303px;
        position: sticky;
        left: 0;
        top: 3rem;
    }
    
}



@media (max-width: 1400px){
    .popup {
        background:
            url(../img/pattern-check.png) repeat 0 0,
            url(../img/bg-popup.jpg) no-repeat 0 calc(100%) / 100% 598px;
    }
    .poster-list>li{
        flex-direction: column;
    }
    .poster-list>li:nth-of-type(2n){
        flex-direction: column;
    }
    .poster-list>li {
        gap: 2rem;
    }
    .poster-txt h3 {
        margin-bottom: 2rem;
    }
}



@media (max-width: 1300px){
    .popup {
        background:
            url(../img/pattern-check.png) repeat 0 0,
            url(../img/bg-popup.jpg) no-repeat 0 calc(100%) / 100% 575px;
    }
}




@media (max-width: 1200px){
    .popup {
        background:
            url(../img/pattern-check.png) repeat 0 0,
            url(../img/bg-popup.jpg) no-repeat 0 calc(100%) / 100% 554px;
    }
    
}


@media (max-width: 1100px){
    .pro-desc-grid{
        grid-template-columns: repeat(1,1fr);
    }
    .certi{
        grid-column: initial;
    }
}


@media (max-width: 1030px){
    .popup {
        background:
            url(../img/pattern-check.png) repeat 0 0,
            url(../img/bg-popup.jpg) no-repeat 0 calc(100%) / 100% 538px;
    }
}


@media (max-width: 1024px){
    html{
        font-size: var(--basic-font-tab);
    }
    .common-frame{
        width: auto;
        margin: 0 2rem;
    }
    .hero{
        min-height: 500px;
    }
    .pro-title{
        flex-direction: column;
    }
}


@media (max-width: 1010px){
    .popup {
        background:
            url(../img/pattern-check.png) repeat 0 0,
            url(../img/bg-popup.jpg) no-repeat 0 calc(100%) / 100% 495px;
    }
}


@media (max-width: 768px){
    html{
        font-size: var(--basic-font-mo);
    }
    .common-frame{
        width: auto;
        margin: 0 1rem;
    }
    .hero-txt1{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        text-align: center;
        padding: 0;
        padding-top: 3rem;
    }
    .pro-title h2{
        font-size: 2.5rem;
    }
    /* .hero{
        justify-content: flex-start;
        gap: 40vh;
    } */
    .pro-title h3{
        line-height: 140%;
    }
    .profile1{
        flex-direction: column;
        align-items: center;
    }
    .sticky-figure{
        width: 70%;
        position: initial;
    }
    .certi dl{
        grid-template-columns: 4fr 2fr;
        gap: .5rem 1rem;
    }
    .certi dl dt{
        grid-column: 1/3;
    }
    .exp-title h2 {
        font-size: 2.5rem;
    }
    .popup-contents{
        flex-direction: column-reverse;
    }
    .popup-text{
        width: 100%;
    }
    .popup-station{
        width: 100%;
    }
    .popup h2{
        font-size: 2rem;
    }
    .popup h2+p{
        font-size: 1.3rem;
    }
    .poster .common-frame {
        flex-direction: column-reverse;
        align-items: stretch;
    }
    .poster-title {
        position: initial;
        top: initial;
        left: initial;
        text-align: center;
        margin-bottom: 3rem;
    }
    .poster-list>li figure {
        text-align: center;
    }
    .poster-list>li {
        text-align: center;
    }
    .poster-title h2{
        font-size: 2rem;
    }
    .poster-title h2+p {
        font-size: 1.3rem;
    }
    .banner h2{
        font-size: 2rem;
    }
    .banner h2+p{
        font-size: 1.3rem;
    }
}


@media (max-width:500px){
    .popup h2+p+p {
        margin-bottom: 6rem;
    }
}


@media (max-width:320px){
    .skill-grid{
        grid-template-columns: repeat(1,minmax(20px,1fr));
    }
}